{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/kaliakra.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px; padding: 10px">
                            <h1 class="display-3 text-white mb-md-5"><span class="text-primary">Discover The Beauties of </span><br> Bulgaria</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endblock %}