{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-primary text-center p-4">
                            <h1 class="text-white m-0">Change Password</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-white p-5">
                            <form method="POST" action="{% url 'edit password' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div>
                                        <p>
                                            {{ field.label }}: <br />
                                            {{ field }}
                                            {% if form.errors %}
                                                {% for error in field.errors %}
                                                    <p> {{ error }} </p>
                                                {% endfor %}
                                            {% endif %}
                                      </div>
                                {% endfor %}
                                <div>
                                    <button class="btn btn-primary btn-block py-3" type="submit">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}